.container {
    background: var(--background);
    color: var(--text);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h1{
    margin: 0;
}

/* .card {
    background: var(--card);
} */